<!DOCTYPE html>
<html>
  <head>
    <title>Mypx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <% if logged_in %>
      <script type="text/javascript">
      window.currentUser =
        <%= render("api/users/show.json.jbuilder", user: current_user).html_safe %>
  </script>
<% end %>
  </head>

  <body>
  <div id ="root">
    <%= yield %>
  </body>
</html>
